html,
body {
  font-family: Helvetica, sans-serif;
  color: #6b5c5c;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  cursor: pointer;
}

#search li[id]:hover {
  background-color: teal;
  color: white;
  padding-left: 13px;
  cursor: hand;
}

#search li[id].true {
  background-color: teal;
  color: white;
  padding-left: 13px;
  cursor: hand;
}

#map {
  bottom:0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
  z-index: 1;
}

.options-box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px;
}

.slider {
  @extend .padding0;
  @include bgcolor(#fff);
  .slick,
  .slick * {
    outline: none;
  }
}

.slick-prev:before,
    .slick-next:before {
        color: black;
    }

.slider-wrap {
  height:40vh;
}
.slider{
  width:500px;
  margin:20px auto;
  text-align: center;
  padding:20px;
  color:white;
  .parent-slide{padding:15px;}
  img{display: block;margin:auto;}
}
.slick-dots {
  left:0;
}
.flickr_photo{
  max-height: 315px;
  text-align: center;
}
.search_container{
  max-height: 500px;
  position: absolute;
  z-index: 3;
  background-color: rgba(256,256,256,.9);
  padding-left: 20px;
  padding-right: 20px;
  border: solid 4px teal;
}

.search-results{
  max-height: 500px;
  position: absolute;
  z-index: 3;
  background-color: rgba(256,256,256,.9)
}

.search-input{
  width: 176px;
  height: 30px;
  font-size: 15px;
  margin-top: 15px;

}

.marker-title {
  text-align: center;
  font-size: 1.5rem;
}

.flickr-error {
  color: red;
  margin-top: 2rem;
  text-align: center;
  font-size: 16px;
}

.slick-active {
    
}

.slick-next {
    right: 0px;
}

.slick-prev {
    left: 0px;
}

.search_container .content {
    display: visible;
    padding : 5px;
}

#search_toggle {
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 768px){
  .slider-wrap {
    max-height: 14vh;
    max-width: 20vh;
  }
  .flickr_photo{
    max-height: 100px;
  }
  .slider{
  width:180px;
  padding: 0px;
  }
  .slick-prev {
    left: -14px;
  }
  .slick-next {
    right: -14px;
  }
  .search_container .content {
    display: none;
  }
  
}
